/* Estilo para el banner */
.banner-container {
  background-image: url('/public/QRPROM.png'); /* URL de la imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.banner-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ff6b6b; /* Color de texto grande */
}

.banner-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.banner-button {
  padding: 15px 30px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #ff6b6b;
}

/* Sección del formulario debajo del banner */
.descuento-container {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.form-card {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form .input-field {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.form .submit-button {
  padding: 12px;
  font-size: 16px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #ff5a5a;
}

/* Responsive */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 40px;
  }

  .banner-content p {
    font-size: 16px;
  }

  .banner-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
